@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: #D97706;
	--background-color: #0F172A;
	--text-color: #f9fafb;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    background: var(--background-color);
    margin: auto;
    border: 2px solid var(--primary-color);
    max-width: 600px;
    padding: 1rem 1rem;
}

h1{
    text-align: center;
    padding: 1rem;
    margin: 0;
}


h3{
    text-align: center;
    padding: 1rem 1rem;
    margin: 0;
}

.container{
    max-width: 600px;
    padding: 1rem 1rem;
    margin: auto;
    text-align: center;
    
}


button{
    width: max-content;
    padding: 0.7rem;
    background: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--background-color);
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1rem;
}

input{
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
}